.informacion{
    background-color: map-get($map: $fondo, $key:bg-fondo );
    border: black 0.2px solid;
 }
 .informacion__titulo{
    padding: 45px 60px 20px 175px;
    @extend %tipoletra;
    font-size: x-large;
 }
 .informacion__detalles{
   display: map-get($map: $flexbox, $key: disp-flex );
    align-items: center;
    width: 97%;
    margin-left: 1.5%;
 }
 .informacion__servicios{
   @extend %flexcolumn;
 }
 .informacion__servicios p{
   @extend %tipoletra;
    font-size: large;
    width: 50%;
    margin-left: 23%;
 }
 .informacion__servicios ul{
    width: 50%;
    margin-left: 28%;
    color: #fff;
    font-family: 'EB Garamond', serif;
    font-size: large;
    margin-bottom: 3%;
 }
 @media (max-width: 650px) {
   .informacion__titulo{
      padding: 20px;}
   .informacion__servicios{
      width: 100%;
   }
   .informacion__otros{
      padding: 20px; 
   }
}
 